<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ODS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|\ODS.mdf;Integrated Security=True"/>
    </connectionStrings>

  <appSettings>
    <add key="isDebugMode" value ="false"/>
  </appSettings>
</configuration>