<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ODS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFileName=C:\Users\AaronT\Documents\Visual Studio 2015\Projects\C#\Zubos System\Zubos.System.Data\ODS.mdf"/>
    </connectionStrings>

  <appSettings>
    <add key="isDebugMode" value ="true"/>
  </appSettings>
</configuration>