<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ODS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFileName=C:\Users\AaronT\Documents\Visual Studio 2015\Projects\C#\Zubos System\Zubos.System.Data\ODS.mdf"/>
    </connectionStrings>

  <appSettings>
  <!--DATABASE CONFIGURATION-->
    <add key="Rooms_TableName" value ="Room"/>
    <add key="Booking_TableName" value="BookingDetail"/>
    <add key="Customer_TableName" value="Customer"/>
    <add key="RoomContainer_TableName" value="RoomContainer"/>
  <!--DATABASE CONFIGURATION-->

  <!--APPLICATION SETTINGS-->
    <add key="isDebugMode" value="true"/>
  <!--APPLICATION SETTINGS-->
  </appSettings>

</configuration>